apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-info
  namespace: kube-public
data:
  kubeconfig: |
    apiVersion: v1
    clusters:
    - cluster:
        certificate-authority-data: {{ cluster_admin_conf.clusters[0]["cluster"]["certificate-authority-data"] }}
        server: {{ cluster_admin_conf.clusters[0]["cluster"]["server"] }}
      name:
    contexts: []
    current-context: ""
    kind: Config
    preferences: {}
    users: []
